
@media screen and (max-width: 1440px)
	.headerContent
		color: blue

@media screen and (max-width: 1280px)
	.headerContent
		color: red
	.container
		h1
			font-size: 24px
		p
			font-size: 15px

@media screen and (max-width: 960px)
	.headerContent
		color: yellow

@media screen and (max-width: 767px)
	.headerContent
		color: blue
@media screen and (max-width: 480px)
	.headerContent
		color: blue

@media screen and (max-width: 300px)
	.headerContent
		color: blue

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


@mixin lrcenter  //可以把經常重複使用的語法加入mixin
	margin-left: auto
	margin-right: auto

@mixin lrbackground
	background-position: center
	background-size: cover
	background-repeat: no-repeat

@mixin lrnorepeat
	background-repeat: no-repeat

@mixin lrtitle
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 28px

@mixin lrcontent
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 17px
	line-height: 30px
	letter-spacing: 1.5px

@mixin lrblogimg
	width: 55%

@mixin lrblogsmalltitle
	font-size: 20px

@mixin lrblogsmallcontent
	width: 55%
	font-size: 16px
	letter-spacing: 1px
	line-height: 20px

@mixin lrfoodsize
	width: 500px
	height: 500px

@mixin lrlocationtitle
	font-size: 20px
	color: #FFFFFF
	letter-spacing: 0.5px
	line-height: 20px

@mixin lrlocationContent
	font-size: 12px
	color: #FFFFFF
	letter-spacing: 1px
	line-height: 20px


*
	position: relative //不會被特別定位

body // 小心用 //
	overflow: hidden
	a
		text-decoration: none
		color: #fff

.container
	width: 100%  //定義整個寬度要滿版
	background-color: #FFF
	  //overflow是用來遮住超出版面的物件 hidden是隱藏

.navBar
	width: 100%
	height: 80px
	background-color: black
	opacity: 0.85
	overflow: hidden
	position: fixed //讓物件浮動浮動在指定位置
	z-index: 10  //設定z軸，讓這個class的物件永遠在其他物件之上 圖層概念
	text-align: center //讓文字置中
	padding-top: 20px

.topWrap
	position: absolute //讓物件處在絕對定位，也就是下面設定的左邊距離及上邊距離，並且在下面的物件會跟他重疊
	left: 30px
	height: 50px
	overflow: hidden
	z-index: 15

.hamburgerWrap
	width: 50px
	cursor: pointer //滑到class的鼠標樣式
	img
		width: 50px
		display: block //顯示圖層 block是預設值 有none的預設時就要用這個語法

.shareWrap
	margin-top: 15px
	margin-bottom: 15px

.navMenu
	ul
		list-style-type: none //讓條列式前的符號消失
	li
		display: inline-block //欄位排版，讓他下面的物件可以跟他並排
		vertical-align: middle //讓元素垂直置中
		margin-left: 15px
		margin-right: 15px
		font-size: 24px
		color: #fff
		cursor: pointer
		a
			transition: all .3s ease
	li:hover
		a
			color: red

.navMenuOrder
	position: absolute
	top: 15px
	right: 100px
	border-bottom-style: solid
	border-color: red
	cursor: pointer
	p
		color: #fff
		margin: 15px 0px
		font-size: 24px
		transition: all .3s ease
.navMenuOrder:hover
	border: 0px
	p
		color: red


.logoWrap
	position: absolute


// header //

.header
	width: 100%
	height: 100vh
.headerImg
	margin-top: 100px
	width: 100%
	height: 100vh
	background-color: #FFF
	img
		width: 100%
.headerText
	position: absolute
	text-align: center
	width: 100%
	+lrcenter
	top: 35vh
	z-index: 10
	color: #fff
	font-size: 75px
// about //

.about
	width: 100%
	height: 100vh
	text-align: center

.about-content  //文字區塊
	+lrcenter //這是sass的語法引用mixin的方式
	padding-top: 100px
	max-width: 960px
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 24px
	line-height: 35px		//設定文字行距
	letter-spacing: 1px     //設定文字間距

.about-image
	width: 100%
	bottom: 0px
	position: absolute
	img
		width: 100%

// eat //

.eat
	display: inline-block
	+lrcenter //這是sass的語法引用mixin的方式
	width: 100%
	height: 100vh
	overflow: hidden
.mainProduct
	width: 100%
	display: flex
	height: 100vh
	margin-top: 100px
.pitaWrap, .sandwichWrap
	width: 50vw
	cursor: pointer
	left: 0vw
	transition: all .3s ease
.pitaImg, .sandwichImg
	height: 100vh
	background-size: cover
	background-position: center
	z-index: 2
	transition: all .8s ease
.pitaImg
	background-image: url('../images/eatMenu1.png')
.sandwichImg
	background-image: url('../images/eatMenu2.png')
.pitaContent, .sandwichContent
	position: absolute
	width: 100%
	height: 50vh
	z-index: 1
	background-color: #14303a
	color: white
	top: 0px
	left: 0vw
	opacity: 0
	transition: all .8s ease
	transition: opacity .3s ease // 透明度 //
	h1
		font-size: 28px
		padding-top: 75px
		padding-left: 30px
		padding-bottom: 25px

	p
		font-size: 18px
		padding: 0px 30px
		line-height: 24px
		letter-spacing: 2px

.productChild
	width: 100%
	height: 50vh

.productStyle1, .productStyle2
	width: 100%
	height: 50vh
	overflow: hidden
	bottom: -30vh
	transition: all 1.2s ease
	position: absolute
.productBox
	margin-top: 30px
	width: 20%
	left: 10vw
	text-align: center
	img
		width: 200px
	p
		width: 100%
		font-size: 16px
		right: 10vw
		font-weight: bold

// class add //
.eatAdd-left
	left: 50vw
.eatAdd-right
	left: -50vw
.heightAdd   // Wrap的效果
	height: 50vh
.bottomAdd	 // 輪播圖的效果
	bottom: 0px
.contentAdd // 透明度 //
	opacity: 1
.xxoo
	right: 100px



// Active //

.Active
	display: inline-block
	width: 100%
	height: 50vh
	//margin-top: 100px
	//overflow: hidden
.ActiveWarp1
	margin-top: 100px
.ActiveContent
	text-align: center
	h1
	margin-top: 70px
	margin-bottom: 50px

// blog //

.blog
	display: inline-block
	width: 100%
	height: 100vh

.blogWarp
	text-align: center

.blogContent
	margin-top: 100px
	h1
		margin-top: 150px
	p
		display: inline-block
		max-width: 800px
		margin-top: 30px
		font-size: 18px
		line-height: 25px
		letter-spacing: 1px

.blogStyle1
	margin-top: 30px

.blogBox1
	text-align: center

	img
		display: inline-block
		width: 80%

	h1
		display: inline-block
		width: 80%
		font-size: 24px
		font-weight: bold
		text-align: left
		margin-bottom: 0px
	p
		display: inline-block
		width: 80%
		font-size: 18px
		text-align: left
		line-height: 25px
		letter-spacing: 1px


// where //

.where
	width: 100%
	text-align: center
	height: 100vh
	background-image: url('../images/background.png')
	background-position: center
	background-size: cover
	padding-top: 100px
.whereWrap
	width: 90%
	+lrcenter
.whereInfo
	width: 100%
	overflow: hidden
	margin-top: 60px
	margin-bottom: 60px
	padding-top: 100px
.infoBox
	width: 30%
	display: inline-block
	vertical-align: top
	margin: 0px 15px
	img
		width: 70px
		margin-bottom: 15px
	h1
		font-size: 24px
		line-height: 24px
		color: #fff
	p
		font-size: 17px
		line-height: 24px
		color: #fff
.whereMap
	width: 93%
	+lrcenter
	overflow: hidden
	max-height: 40vh
	img
		width: 100%



// .where
// 	margin-top: 100px
// 	width: 100%
// 	height: 100vh
// 	background-color: #000000
// 	// background-image: url('../images/background.png')
// 	vertical-align: middle
// 	position: absolute
// 	display: inline-block
// // .wherebgImg
// // 	background-image: url('../images/background.png')
// // 	height: 100vh
// // 	background-size: cover
// // 	background-position: center
// // 	//z-index: 1

// .whereWarp
// 	//display:block
// 	top: 30px
// 	width: 80%

// .LocationWarp
// 	left: 10%

// .Location

// 	img
// 		width: 10%

// 	h1
// 		color: white
// 		right: 90px
// 		top: 20px
// 		font-size: 22px

// 	p
// 		color: white
// 		right: 65px
// 		top: 20px
// 		font-size: 16px

// .CallWarp
// 	left: 670px

// .Call
// 	bottom: 200px

// 	img
// 		width: 10%

// 	h1
// 		color: white
// 		top: 12px
// 		font-size: 22px

// 	p
// 		color: white
// 		left: 2px
// 		top: 14px
// 		font-size: 16px

// .MailWarp
// 	left: 1150px

// .Mail
// 	bottom: 410px

// 	img
// 		width: 10%

// 	h1
// 		color: white
// 		top: 15px
// 		font-size: 22px

// 	p
// 		color: white
// 		left: 2px
// 		top: 14px
// 		font-size: 16px

// .MapWarp
// 	// width: 100%
// 	// height: 100vh

// .Map
// 	width: 800px
// 	height: 800px
// 	//height: 100vh

// .CopyRight
// 	color: white
// 	font-size: 14px



// .Pita
// 	+lrbackground
// 	position: absolute
// 	width: 50%
// 	height: 380px
// 	//display: none

// .PitaArticle
// 	position: absolute
// 	left: 50%
// 	width: 50%
// 	height: 380px
// 	background-size: 700px 300px
// 	background-color: #023653
// 	opacity: 0.9
// 	//display: none

// 	h1
// 		width: 40%
// 		top: 60px
// 		left: 80px
// 		+lrtitle
// 		color: white
// 		text-align: center
// 		padding-bottom: 8px
// 		border-bottom: 5px
// 		border-bottom-style: solid //border邊界樣式 直接用border-style的話就是四個邊界都有效果
// 		border-color: red
// 	p
// 		width: 80%
// 		top: 60px
// 		left: 80px
// 		+lrcontent
// 		color: white
// 		text-align: left

// .Pita:hover
// 		opacity: 0.9

// .Sandwich
// 	position: absolute
// 	+lrbackground
// 	left: 50%
// 	width: 50%
// 	height: 380px
// 	//display: none

// .Sandwich:hover
// 		opacity: 0.9

// .SandwichArticle
// 	position: absolute
// 	width: 50%
// 	height: 380px
// 	background-size: 700px 300px
// 	background-color: #023653
// 	opacity: 0.9
// 	display: none

// 	h1
// 		width: 40%
// 		top: 60px
// 		left: 80px
// 		+lrtitle
// 		color: white
// 		text-align: center
// 		padding-bottom: 8px
// 		border-bottom: 5px
// 		border-bottom-style: solid //border邊界樣式 直接用border-style的話就是四個邊界都有效果
// 		border-color: red
// 	p
// 		width: 80%
// 		top: 60px
// 		left: 80px
// 		+lrcontent
// 		color: white
// 		text-align: left

// .PitaCarousel
// 	position: absolute
// 	display: inline-block
// 	//display: none

// .Pita-Img1
// 	bottom: 90px
// 	left: 80px
// 	+lrfoodsize
// 	+lrnorepeat

// .Pita-Img1Name
// 	bottom: 320px
// 	left: 210px
// 	+lrcontent

// .Pita-Img2
// 	bottom: 655px
// 	left: 570px
// 	+lrfoodsize
// 	+lrnorepeat

// .Pita-Img2Name
// 	bottom: 883px
// 	left: 680px
// 	+lrcontent

// .Pita-Img3
// 	bottom: 1210px
// 	left: 1050px
// 	+lrfoodsize
// 	+lrnorepeat

// .Pita-Img3Name
// 	bottom: 1448px
// 	left: 1150px
// 	+lrcontent

// .Pita-Img4
// 	bottom: 1780px
// 	left: 1500px
// 	+lrfoodsize
// 	+lrnorepeat

// .Pita-Img4Name
// 	bottom: 2012px
// 	left: 1610px
// 	+lrcontent

// .Pita-Img5
// 	bottom: 2330px
// 	left: 1950px
// 	+lrfoodsize
// 	+lrnorepeat

// .Pita-Img5Name
// 	bottom: 2572px
// 	left: 2060px
// 	+lrcontent

// .SandwichCarousel
// 	position: absolute
// 	display: inline-block
// 	display: none

// .Sandwich-Img6
// 	bottom: 90px
// 	left: 80px
// 	+lrfoodsize
// 	+lrnorepeat

// .Sandwich-Img6Name
// 	bottom: 320px
// 	left: 210px
// 	+lrcontent

// .Sandwich-Img7
// 	bottom: 655px
// 	left: 570px
// 	+lrfoodsize
// 	+lrnorepeat

// .Sandwich-Img7Name
// 	bottom: 883px
// 	left: 680px
// 	+lrcontent

// .Sandwich-Img8
// 	bottom: 1210px
// 	left: 1050px
// 	+lrfoodsize
// 	+lrnorepeat

// .Sandwich-Img8Name
// 	bottom: 1448px
// 	left: 1150px
// 	+lrcontent

// .Sandwich-Img9
// 	bottom: 1780px
// 	left: 1500px
// 	+lrfoodsize
// 	+lrnorepeat

// .Sandwich-Img9Name
// 	bottom: 2012px
// 	left: 1610px
// 	+lrcontent

// .Sandwich-Img10
// 	bottom: 2330px
// 	left: 1950px
// 	+lrfoodsize
// 	+lrnorepeat

// .Sandwich-Img10Name
// 	bottom: 2572px
// 	left: 2060px
// 	+lrcontent






// slick //
.slick
	display: block
.slick-slide
	&:focus, a
		outline: none
